/* line 5, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}

/* line 103, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/compass/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
body {
  background-color: white;
}

/* line 27, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav-outer {
  background: #e3e6e1;
}

/* line 31, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav-holder {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/susy/susy/output/support/_clearfix.scss */
.greedy-nav-holder:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 35, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav {
  position: relative;
  min-width: 250px;
  margin: 0 auto;
  max-width: 1440px;
}

/* line 41, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav a, .greedy-nav button {
  font-size: 12px;
}

/* line 45, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav a {
  display: block;
  padding: 16px 32px;
  padding: 1rem 1.5rem;
  background: #e3e6e1;
  color: #464841;
  text-decoration: none;
}

/* line 53, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav a:hover {
  color: #fff;
  background: #464841;
}

/* line 59, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav button {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0 15px;
  border: 0;
  background-color: #e3e6e1;
  color: #464841;
  cursor: pointer;
}

/* line 69, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav button:hover {
  color: #fff;
  background: #464841;
}

/* line 74, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav button::after {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold;
}

/* line 86, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav .visible-links {
  display: inline-table;
}

/* line 89, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav .visible-links li {
  display: table-cell;
}

/* line 94, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav .hidden-links {
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: 90;
}

/* line 100, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav .hidden-links li {
  display: block;
  border-top: 0px;
}

/* line 106, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav .hidden {
  visibility: hidden;
}

/* line 111, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.greedy-nav a, .greedy-nav button {
  font-size: 14px;
}

/* line 125, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-page p {
  font-size: 14px;
}

/* line 129, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-page header {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  background-color: white;
}

/* line 135, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-page .base-header {
  background-color: white;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/susy/susy/output/support/_clearfix.scss */
.shop-page .base-header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 140, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-page .button-link {
  font-size: 12px;
}

/* line 146, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-page .breadcrumbs {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 154, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home h1 {
  font-size: 36px !important;
}

/* line 158, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home .shop-header {
  padding: 8px 1.3889%;
  padding: 0.5rem 1.3889%;
  margin-bottom: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/susy/susy/output/support/_clearfix.scss */
.shop-home .shop-header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 165, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home .hero-intro {
  margin-top: 0;
}

/* line 168, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home .hero-intro p {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 0;
}

/* line 174, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home .hero-intro .button-link {
  font-weight: normal;
  margin-left: 1.3889%;
  margin-right: 1.3889%;
  margin-top: 16px;
  margin-top: 1rem;
}

/* line 184, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home .hero-intro .button-link {
  font-size: 14px;
}

/* line 194, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-home .listing-container {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 202, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.gold-btn svg {
  fill: #464841;
  -webkit-transition: fill 0.4s ease-out;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}

/* line 207, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.gold-btn:hover svg {
  fill: #f5d606;
  -webkit-transition: fill 0.25s ease-out;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 215, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.gray-btn svg {
  fill: #f5d606;
  -webkit-transition: fill 0.4s ease-out;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}

/* line 220, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.gray-btn:hover svg {
  fill: white;
  -webkit-transition: fill 0.25s ease-out;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 228, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-dept header {
  margin-bottom: 0;
}

/* line 232, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-dept .base-header {
  padding: 32px 1.3889% 0;
  padding: 2rem 1.3889% 0;
  margin: 0;
}

/* line 241, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat header, .shop-cat section, .shop-details header, .shop-details section {
  padding: 0 5.5556%;
}

/* line 245, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .base-header, .shop-details .base-header {
  width: 96.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 250, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .listing-container h2, .shop-details .listing-container h2 {
  margin-right: 1.6667%;
  margin-left: 1.6667%;
}

/* line 256, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .half, .shop-cat .third, .shop-details .half, .shop-details .third {
  width: 96.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 260, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter, .shop-details .quarter {
  width: 46.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 263, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(2n + 3), .shop-details .quarter:nth-of-type(2n + 3) {
  clear: both;
}

/* line 270, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .half, .shop-details .half {
  width: 46.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 274, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .third, .shop-details .third {
  width: 46.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 277, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .third:nth-of-type(2n + 3), .shop-details .third:nth-of-type(2n + 3) {
  clear: both;
}

/* line 282, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter, .shop-details .quarter {
  width: 29.9997%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 285, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(2n + 3), .shop-details .quarter:nth-of-type(2n + 3) {
  clear: none;
}

/* line 289, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(3n + 4), .shop-details .quarter:nth-of-type(3n + 4) {
  clear: both;
}

/* line 297, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .third, .shop-details .third {
  width: 29.9997%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 300, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .third:nth-of-type(2n + 3), .shop-details .third:nth-of-type(2n + 3) {
  clear: none;
}

/* line 304, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .third:nth-of-type(3n + 4), .shop-details .third:nth-of-type(3n + 4) {
  clear: both;
}

/* line 309, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter, .shop-details .quarter {
  width: 21.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 312, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(3n + 4), .shop-details .quarter:nth-of-type(3n + 4) {
  clear: none;
}

/* line 316, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-cat .quarter:nth-of-type(4n + 5), .shop-details .quarter:nth-of-type(4n + 5) {
  clear: both;
}

/* line 336, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header-outer {
  background-color: white;
}

/* line 340, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header {
  text-align: right;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 345, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header a {
  padding: 6px 32px 0 0;
  padding: 6px 2rem 0 0;
  float: left;
  float: none;
}

/* line 354, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header a span {
  color: #464841;
  display: none;
  display: inline;
}

/* line 364, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header input {
  width: 50%;
  max-width: 200px;
  padding: 5px 35px 5px 0;
}

/* line 370, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header span a {
  margin-left: -30px;
  padding-right: 5px;
  color: #464841;
  float: none;
}

/* line 376, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.shop-header span a:hover {
  color: #e03222;
}

/* line 388, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-container {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 393, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-image {
  display: inline-block;
  max-width: 100%;
}

/* line 398, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-title, .category-title {
  color: #464841;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

/* line 405, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-title {
  font-weight: bold;
  float: left;
  width: 75%;
}

/* line 414, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.category-title {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 420, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.third .product-image-holder {
  height: auto;
  height: 340px;
}

/* line 436, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.quarter .product-image-holder {
  height: 135px;
  height: 200px;
}

/* line 462, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-image-holder {
  text-align: center;
}

/* line 465, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-image-holder .product-image {
  max-height: 100%;
}

/* line 470, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-images {
  height: 100%;
  position: relative;
}

/* line 480, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-image-thumbnails {
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
}

/* line 486, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.thumbnail {
  max-width: 70px;
  max-height: 70px;
  cursor: pointer;
}

/* line 492, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-details {
  padding-top: 16px;
  padding-top: 1rem;
}

/* line 497, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-price {
  color: #e03222;
  float: right;
  font-weight: bold;
}

/* line 503, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.product-description {
  padding-top: 5px;
  color: #464841;
  clear: both;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 512, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.cta {
  position: relative;
  border-top: 1px solid #e3e6e1;
  margin-top: 24px;
  margin-top: 1.5rem;
  float: right;
  width: 18%;
  height: 100%;
  padding-left: 1%;
  margin-top: 0;
  border-top: 0;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* line 518, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.cta p {
  font-size: 14px;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 524, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.cta .quantity {
  padding: 16px 0;
  padding: 1rem 0;
  border-top: 1px solid #e3e6e1;
  border-bottom: 1px solid #e3e6e1;
}

/* line 530, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.cta .quantity select {
  padding: 0 5px;
}

/* line 545, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.cta .product-price {
  margin-top: 0;
}

/* line 557, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container, .hero-container-1, .hero-container-2 {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

/* line 564, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-container {
  width: 96.6667%;
  float: left;
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 568, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-images {
  text-align: center;
}

/* line 572, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-image {
  margin-left: auto;
  margin-right: auto;
  max-height: 340px;
  width: auto;
}

/* line 579, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-price {
  margin: 32px 0 16px;
  margin: 2rem 0 1rem;
  float: none;
}

/* line 585, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-details {
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-top: 1rem;
}

/* line 592, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .offer-panel {
  padding: 16px;
  padding: 1rem;
  margin: 16px 0;
  margin: 1rem 0;
  background: #e3e6e1;
}

/* line 599, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .offer-panel .offer {
  padding: 8px 0;
  padding: 0.5rem 0;
}

/* line 607, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-price {
  margin: 16px 0;
  margin: 1rem 0;
  float: none;
  font-size: 18px;
}

/* line 614, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-1 .product-details {
  width: 50%;
  float: left;
  margin-top: 0;
  padding: 0 1%;
  border-right: 1px solid #e3e6e1;
}

/* line 626, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-2 .product-image {
  margin-left: auto;
  margin-right: auto;
  height: 265px;
}

/* line 632, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-2 img {
  max-height: 100%;
}

/* line 636, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-2 .product-details {
  position: relative;
  height: 100%;
}

/* line 641, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-2 .button-link {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 648, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-2 .product-image {
  float: left;
  width: 48%;
}

/* line 654, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.hero-container-2 .product-details {
  float: right;
  width: 52%;
  height: 100%;
  padding-top: 0;
  padding-left: 1rem;
}

/* line 672, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container h2 {
  max-width: 100%;
  margin: 32px 1.3889%;
  padding-bottom: 16px;
  margin: 2rem 1.3889%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #464841;
  font-size: 26px;
}

/* line 680, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container h2 span {
  color: #b4baae;
}

/* line 685, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container .sort {
  margin: 0 5.55556%;
  float: right;
  margin: 32px 1.5% 0 1.5%;
  margin: 2rem 1.5% 0 1.5%;
}

/* line 695, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container .product-price {
  font-size: 12px;
}

/* line 703, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container .list-item a, .listing-container a.list-item {
  display: block;
}

/* line 709, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container.list-centered h2 {
  border: 0;
  padding-bottom: 0;
  margin-top: 0;
  text-align: center;
}

/* line 716, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container.list-centered .list-item {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  text-align: center;
}

/* line 722, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container.list-centered .category-title {
  color: #e03222;
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1em;
  line-height: 1rem;
  height: 32px;
  height: 2rem;
  overflow: hidden;
  letter-spacing: 0.03rem;
}

/* line 736, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.listing-container .thirds-to-sixth .product-image {
  max-height: 93px;
  max-height: 216px;
}

/* line 763, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured {
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 767, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured h2 {
  font-weight: normal;
  font-size: 26px;
  border-bottom: 1px solid #464841;
  padding-bottom: 16px;
  margin-bottom: 16px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

/* line 776, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured .button-link {
  font-weight: normal;
}

/* line 779, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured .button-link svg {
  height: 11px;
  width: 7px;
}

/* line 786, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured-inner {
  padding: 32px 5.5556%;
  padding: 2rem 5.5556%;
  border: 1px solid #464841;
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 450px;
}

/* line 795, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured-inner > div {
  margin-left: 1.6667%;
  margin-right: 1.6667%;
}

/* line 806, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured-inner > div {
  width: 47.2222%;
}

/* line 812, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-featured-inner > div {
  width: 38.8889%;
}

/* line 818, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-feat-image {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 824, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-feat-image img {
  max-height: 100%;
}

/* line 830, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-feat-header {
  -webkit-order: -1;
  order: -1;
}

/* line 838, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-feat-details {
  padding-top: 16px;
  padding-top: 1rem;
}

/* line 843, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-feat-title {
  text-transform: uppercase;
  color: #e03222;
  line-height: 1.3em;
  line-height: 1.3rem;
  letter-spacing: 0.03rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 857, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-feat-desc {
  margin: 16px 0;
  margin: 1rem 0;
  letter-spacing: 0.03rem;
}

/* line 869, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus-outer {
  margin-top: 32px;
  margin-top: 2rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

/* line 877, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus h2 {
  color: #e3e6e1;
  text-align: center;
  font-size: 26px;
  margin: 0 auto 32px auto;
  margin: 0 auto 2rem auto;
}

/* line 885, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-outer {
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

/* line 890, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-item {
  width: 47.2222%;
  margin-left: 1.3889%;
  margin-right: 1.3889%;
  width: 30.5556%;
}

/* line 904, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-item-inner {
  text-align: center;
}

/* line 908, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .product-image {
  max-height: 144px;
  display: inline-block;
  max-height: 297px;
}

/* line 933, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .product-title {
  color: #f5d606;
  margin-top: 8px;
  margin-top: 0.5rem;
  padding-bottom: 0;
  float: none !important;
  width: 100% !important;
  font-size: 14px;
  line-height: 1.1em;
}

/* line 944, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-transport {
  text-align: right;
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 949, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-transport .hs-right, .sh-infocus .hs-transport .hs-left {
  display: inline-block;
  width: 13.8889%;
  margin-left: 1.3889%;
  margin-right: 1.3889%;
  width: 5.5556%;
}

/* line 956, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-transport .hs-right:hover svg, .sh-infocus .hs-transport .hs-left:hover svg {
  fill: white;
}

/* line 966, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-infocus .hs-transport svg {
  fill: #f5d606;
  max-width: 40px;
  max-height: 23px;
}

/* line 980, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-outer {
  margin-top: 32px;
  margin-top: 2rem;
}

/* line 984, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner {
  display: block;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 988, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner h2, .sh-banner-inner p {
  color: #f5d606;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

/* line 994, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner p {
  font-size: 16px;
  line-height: 1.3em;
  line-height: 1.3rem;
}

/* line 1005, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner a.button-link {
  font-size: 14px;
  font-weight: normal;
}

/* line 1011, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner a.button-link svg {
  width: 12px;
  height: 12px;
  fill: white;
  -webkit-transition: fill 0.4s ease-out;
  -moz-transition: fill 0.4s ease-out;
  -o-transition: fill 0.4s ease-out;
  transition: fill 0.4s ease-out;
}

/* line 1018, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner a.button-link:hover svg {
  fill: #e03222;
  -webkit-transition: fill 0.25s ease-out;
  -moz-transition: fill 0.25s ease-out;
  -o-transition: fill 0.25s ease-out;
  transition: fill 0.25s ease-out;
}

/* line 1024, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner .sh-banner-img, .sh-banner-inner .sh-banner-copy {
  padding-left: 5.5556%;
  padding-right: 5.5556%;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

/* line 1040, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner .sh-banner-copy {
  padding-left: 0;
  padding-right: 0;
}

/* line 1047, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-banner-inner h2 {
  font-size: 36px;
}

/* line 1059, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-footer {
  padding: 32px 0;
  margin-bottom: -32px;
  padding: 1rem 0;
  margin-bottom: -2rem;
}

/* line 1064, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-footer h2 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 1069, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-footer ul > li {
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  line-height: 1.2em;
  line-height: 1.2rem;
}

/* line 1075, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-footer ul > li:last-child {
  margin-bottom: 0;
}

/* line 1080, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.sh-footer .cat-sec {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 1093, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.basket .cart-holder table tr th.desc.shop-image {
  text-align: center;
}

/* line 1096, C:/Source Control/Git/Repos/RSC Website - CW - Master/sass/_shopstyles.scss */
.basket .cart-holder table tr th.desc.shop-image img {
  max-height: 120px;
}
