////// BURGER MENU

.burger-holder {
    display: inline-block;
    text-align: center;
    color: $gray;
    width: 2.5rem;

    @include breakpoint($medium-ie) {
        width: 3rem;
    }

    .circle {
        display: inline-block;
        @include border-radius(50%);
        position: relative;
        padding: 0.75em;
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 3px;
        background-color: $gray;

        @include breakpoint($medium-ie){
            padding: 1em;
            @include old-ie { width: 48px; height: 48px; }
            width: 3rem;
            height: 3rem;
            line-height: 1em;
            margin-bottom: 4px;
        } // breakpoint medium
    } // circle
    

    &.active {
        cursor: pointer;

        .burger {
            @include transform(rotateZ(360deg));

            &.cross {
                .middle {
                    opacity: 0;
                } // middle

                &:after {
                    bottom: 0.45em;
                    @include transform(rotate(135deg));

                    @include breakpoint($medium) {
                        bottom: 0.5em;
                    } // breakpoint medium
                } // after

                &:before {
                    top: 0.4em;
                    @include transform(rotate(45deg));

                    @include breakpoint($medium) {
                        top: 0.35em;
                    } // breakpoint medium
                } // before
            } // cross
        } // burger

        .menu-label {

            &:before {
                opacity: 0;
            } // before

            &:after {
                opacity: 1;
            } // before
        } // menu label
    } // active and hover

    .burger {
        height: 1em;
        width: 1em;
        position: relative;
        display: inline-block;
        @include transition(all $hoverSpeed ease-in-out);
        @include transition-timing-function(cubic-bezier(0.61, 0.04, 0.17, 1.32));

        .middle {
            position: absolute;
            display: inline-block;
            @include border-radius(0.1em);
            @include transition(all $hoverSpeed ease-in-out);
            background: white;
            left: -0.4em;
            top: 50%;
            width: 1.8em;
            height: 0.1em;
            margin-top: -0.05em;

            @include breakpoint($medium-ie){
                left: -0.5em;
                top: 50%;
                width: 2em;
                height: 0.15em;
                @include border-radius(0.075em);
                margin-top: -0.06em;
            } // breakpoint medium
        } // middle

        &:after, &:before {
            content: "";
            position: absolute;
            @include border-radius(0.1em);
            background: white;
            @include transform-origin(50%, 50%, 0);
            @include transition(all $hoverSpeed ease-in-out);
            width: 1.8em;
            height: 0.15em;
            left: -0.4em;

            @include breakpoint($medium-ie) {
                width: 2em;
                height: 0.15em;
                @include border-radius(0.1em);
                left: -0.5em;
            } // breakpoint medium
        } // after + before

        &:after {
            bottom: 0;
        } // after

        &:before {
            top: 0;
        } // after
    } // burger
} // burger holder

.menu-label {
    font-size: $font-small;
    position: relative;

    &:before, &:after {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        @include transition(all $hoverSpeed ease-in-out);
    }
    &:before {
        content: "MENU";
        opacity: 1;
    }
    &:after {
        content: "CLOSE";
        opacity: 0;
        color: $red;
    }

    @include breakpoint($medium-ie) {
        font-size: $font-reg;
    } // breakpoint medium
} // menu label

////// END BURGER MENU




////// HEADER

.header-container {
    position: relative;
} // header-container

.header-top {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $lightgray;

    .header-top-inner {
        @include container($xlarge);
    } // header top inner

    .logo {
        @include span(4 no-gutter);
        text-align: left;

        a {
            display: inline-block;
        } // a

        img {
            height: 57px;
            display: block;
        } // img
    } // logo

    .login-search {
        display: none;

        div, li {
            @include old-ie { margin-left: 16px; }
            margin-left: $single-gap;
        } // div

        li {
            display: inline-block;
            @include old-ie { padding-right: 16px; }
            padding-right: $single-gap;
            border-right: 1px solid $lightgray;
        } // li
    } // login search

    .login-search, .header-right {

        -ms-flex-align: center;    // TWEENER - IE 10
        -ms-flex-pack: end;    // TWEENER - IE 10

        @include align-items(center);
        @include justify-content(flex-end);

    }

    .header-right {
        @include span(8 last);
        text-align: right;
        @include display-flex();
    }

    .wobt {
        // height: 57px;
        // vertical-align: middle;
        display: inline-block;
        margin-right: $single-gap;
        font-size: $font-small;
        text-transform: uppercase;
        padding: 0 $single-gap;
        border-right: 1px solid $lightgray;
        text-align: center;

        a {
            display: inline-block;
            width: 100px;

            @include breakpoint($small) {
                width: auto;
            }
        }
    }

    .menu-button {
        @include span(3 last);
        text-align: right;
        height: 57px;
        cursor: pointer;
        padding: 5px 0 0;

        @include old-ie { display: none; }

        /* EXPERIMENT - DELETE WHEN FINISHED */
        &.alternative {
            width: 2.5rem;
            float: none;
            display: inline-block;
            margin: 0;
        }
    } // menu-button

    img {
        height: 100%;
    } // img
} // header-top

@include breakpoint($medium-ie) {

    .header-top {

        .logo {
            //width:
            &.alt {
                width: span(3);// + gutter(12);
            }
        }

        .logo img {
            height: 70px;
        } // logo img

        .login-search {
            @include span(7);
            text-align: right;
            display: block;    // reset for non-flexbox

            display: -ms-flexbox;    // TWEENER - IE 10

            @include display-flex();
            height: 80px;

            &.alt {
                @include span(5 wide);
            }
        } // login search

        .wobt {
            //border-left: 1px solid $lightgray;

            a {
                max-width: 88px;
            }
        }

        .header-right {
            @include span(4 last);
            text-align: right;
            height: 80px;
            @include justify-content(flex-end);
        }

        .menu-button {
            @include span(1 wide last);
            padding-top: 7px;
            padding-bottom: 0;
            height: 70px;

            &.alternative {
                width: 3rem;
                @include align-self(flex-start);
            }
        } // menu bottom
    } // header top
}// breakpoint medium

@include breakpoint($large) {

    .header-top {
        .logo {
            margin-bottom: 0;

            img {
                height: 75px;
            } // img

            &.alt {
                width: span(4);
            }
        } // logo img

        .login-search {
            height: 83px;

            @include old-ie { padding-top: 32px; float: right; }
        } // login search

        .header-right {
            @include span(3 last);
        }
        .menu-button {
            visibility: hidden;
            opacity: 0;
            padding-top: 8px;
            height: 80px;

            &.mb-active {
                visibility: visible;
                @include transition(opacity $hoverSpeed ease-out);
                opacity: 1;
            } // menu button active
        } // menu bottom
    } // header top
} // breakpoint large

@include breakpoint($xlarge) {

    .header-top {
        .logo {
            &.alt {
                width: span(5);
            }
        } // logo

        .header-right {
            @include span(2 last);
        } // header right
    } // header top
} // breakpoint large

////// END HEADER




////// NAV

nav {
    position: fixed;
    z-index: 40;
    background: white;
    text-align: left;
    padding: $single-gap;
    bottom: 0;
    top: 65px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    //@include transition(left $hoverSpeed ease-out);

    &.nav-active {
        left: 0;
        opacity: 1;
        @include transition(left $hoverSpeed ease-out, opacity $hoverSpeed ease-out);
        overflow-y: scroll;
        padding-top:0.4em;
    } // nav active

    &.nav-hide {
        left: 100%;
        @include transition(left $hoverSpeed ease-out, opacity $hoverSpeed ease-out);
    } // nav hide

    @include breakpoint($medium) {
        top: 80px;
    } // breakpoint medium

    @include breakpoint($large) {
        opacity: 1;
        top: 83px;
        left: auto;
        bottom: auto;
        padding: 0;
        text-align: center;
        border-top: 1px solid $lightgray;
        border-bottom: 1px solid $lightgray;
        overflow: visible;
        height: 40px;
        //@include transition(top $hoverSpeed ease-out);

        &.nav-hide {
            left: 0;
        } // nav hide

        &.nav-up {
            top: 30px;
            @include transition(top $hoverSpeed ease-out);
        } // nav up

        &.nav-down {
            top: 83px;
            @include transition(top $hoverSpeed ease-out);
        }
    } // breakpoint large
} // nav

ul.search-nav {
    @include old-ie { margin-bottom: 32px; }
    margin-bottom: $double-gap;
    border-bottom: $mainBorder;
    position: relative;

    li {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: 0;
        padding: 0.4em 0;
        display: inline-block;

        &:not(:first-child) {
            text-transform: uppercase;
        } // not first child
    } // li

    > li:first-child {
      width: 100%;
    }

    > li:last-child {
      position: absolute;
      top:0;
      right: 0;
    }

    #MobileTopLevelLogin {
      ul {
        max-width: 90%;
        li {
          display: inline-block;
          margin: 0.2em;
          float: left;
          font-size: 0.8rem;
          padding: 0.4em;
        }

        li {
          color: $gray;
          background-color: #f1f2f5;
        }

        li a,
        li a.reverse {
          color: $gray;
        }

        li:nth-child(3n) {
          clear: right;
        }

      }
    }

    @include breakpoint($medium-ie) {
        display: none;
    }// breakpoint medium
} // search nav

ul.top-level {
    font-size: $mob-font-bigger;
    font-weight: normal;
    text-transform: uppercase;
    max-width: $xlarge;

    & > li {
        box-sizing: border-box;
        margin-bottom: $single-gap;

        &.lang_link {
            @include old-ie { padding-top: 8px; }
            padding-top: $single-gap/2;

            a {
                .globe {
                    @include transition(all $hoverSpeed ease-out);
                    stroke: $gray;
                } // globe

                &:hover {
                    .globe {
                        stroke: $red;
                    } // globe
                } // a:hover
            } // a
        } // language link

        &.selected {

            @include breakpoint($large){
                height: 38px;
                border-bottom: 2px solid $lightgray;

                &:hover {
                  border-bottom: 2px solid $lightgray;
                  max-height: 38px;
                }
            } // breakpoint medium

        } // selected

        a {
            color: $gray;
            display: inline-block;
            margin-bottom: 0;

            &:hover {
                color: $red;
            } // hover

            &.vis {
                height: 0;
                overflow: hidden;
                opacity: 0;
                margin-bottom: 8px;
            } // vis
        } // link

        svg {
            height: 21px;
            width: 21px;
        } // svg

        span {
            display: inline-block;
        }
    } // li

    @include breakpoint($medium-ie) {
        margin-top: $single-gap;
        @include old-ie { margin-top: 16px; }
    }

    @include breakpoint($large) {
        font-size: $font-smaller;
        margin: 0 auto;
        background-color: white;
        @include transition(background-color $hoverSpeed ease-out);

        display: block;    // reset for non-flexbox
        display: -ms-flexbox;    // TWEENER - IE 10
        -ms-flex-align: start;    // TWEENER - IE 10
        -ms-flex-pack: justify;    // TWEENER - IE 10
        @include display-flex();
        @include justify-content(space-around);
        @include align-items(flex-start);

        & > li {

            @include old-ie {
                margin: 0 9px;
                padding: 8px 0 5px;
                float: left;
                width: 9%;
            }

            display: inline-block;
            -ms-flex: 1;
            margin: 0 0.6rem;
            padding: 0.5rem 0 0.3rem;
            letter-spacing: $topmenu-space;
            @include flex-basis(12.5%);
            @include align-self(stretch);
            height: auto;
            max-height: 38px;


            &:hover {
              border-bottom: 2px solid $lightgray;
              height: 38px;
              max-height: 38px;
            }


            &.lang_link {
                width: 4%;

                @include old-ie {
                    & > a {
                        background: url(img/globe.gif) top left no-repeat;
                        width: 20px;
                        height: 20px;
                    } // > a
                } // old ie
            } // lang link

            &.vis {
                //background-color: $red;

                a {
                    //color: white;
                    //color: $red;
                }

                &.lang_link > a .globe {
                    //stroke: white;
                    //stroke: $red;
                }
            }

            &.vis-fade {
                background-color: white;

                a {
                    color: $gray;
                }
            }

            & > a {
                max-width: 100px;
            }

            a {

                &.vis {
                    height: auto;
                    overflow: visible;
                    opacity: 1;
                    margin-bottom: 0;
                } // a.vis
            } // a
        } // > li
    } // breakpoint large

    @include breakpoint($xlarge){
        @include justify-content(space-between);
    } // breakpoint xlarge
} // top level

////// END NAV




////// SUB NAV

.subnav-bkgrnd {
    display: none;

    @include breakpoint($large){
        background-color: rgba($red, 0.95);
        @include old-ie { background-color: $red; }
        position: fixed;
        bottom: 0;
        left: 0;
        top: 122px;
        width: 100%;
        z-index: 100;
        @include transition(opacity $hoverSpeed ease-out);

        &.vis {
            display: block;
            @include animation(subnav-large 0.3s ease-out 0s 1 normal forwards);
        }

        &.vis-fade {
            display: block;
            @include animation(subnav-large-fade 0.2s ease-in 0s 1 normal forwards);
            opacity: 1;
        } // vis fade
    } // breakpoint large
} // subnav background

.subnav-item {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 100;
    @include transition(max-height $hoverSpeed ease-out);

    &.vis {
        @include transition(max-height $hoverSpeed ease-out);
        max-height: 500px;
    } // vis

    @include breakpoint($large) {
        // subnav item
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 122px;
        opacity: 0;
        @include old-ie { padding-top: 16px; }
        padding-top: $single-gap;
        display: none;
        max-height: 100%;

        &.vis {
            display: block;    // reset for non-flexbox

            display: -ms-flexbox;    // TWEENER - IE 10
            -ms-flex-align: center;    // TWEENER - IE 10

            @include display-flex;
            @include align-items(center);
            @include animation(subnav-large 0.3s ease-out 0s 1 normal forwards);
            //max-height: 100%;
            opacity: 1;
        } // vis

        &.vis-fade {
            display: block;    // reset for non-flexbox

            display: -ms-flexbox;    // TWEENER - IE 10
            -ms-flex-align: center;    // TWEENER - IE 10

            @include display-flex;
            @include align-items(center);
            @include animation(subnav-large-fade 0.2s ease-in 0s 1 normal forwards);
            opacity: 1;
        } // vis fade
    }

    @include breakpoint($xlarge) {
        max-width: 1440px;
        left: 50%;
        margin-left: -720px;
    }

    ul.subnav-list {
        height: 100%;
        padding-top: 1px;

        li {
            margin-bottom: $single-gap;
            font-size: $font-reg;
            letter-spacing: $intro-space;

            &.main-link {
                a {
                    display: inline-block;
                    border-bottom: 1px solid $red;
                    padding-bottom: $single-gap/2;
                }
            } // main link

            a {
                color: $red;
            } // a
        } // li

        @include breakpoint($large) {
            // ul subnav-list
            margin: 0 auto;
            @include old-ie { padding-top: 16px; }
            padding-top: $single-gap;
            display: inline-block;
            text-align: left;
            width: 37.5%;
            max-width: 450px;
            position: absolute;
            top: 0;
            margin: 0 0 0 0.5rem;

            li {
                padding: 0;
                width: auto;
                @include old-ie { margin-bottom: 8px; }
                margin-bottom: $single-gap/2;

                &.main-link {
                    // border-bottom: 1px solid white;

                    a {
                        border-bottom: 0;
                        padding-bottom: 5px;
                    }
                } // main link

                a {
                    display: inline-block;
                    @include old-ie { padding: 8px 8px 5px; }
                    padding: $single-gap/2 $single-gap/2 5px;
                    color: white;

                    .globe {
                        stroke: white !important;
                    } // globe

                    &:hover {
                        background-color: white;
                        color: $red;

                        .globe {
                            stroke: $red !important;
                        } // globe
                    } // hover
                } // a
            } // li
        } // breakpoint large
    } // ul
} // subnav item

// CHILD/PARENT BASED POSITIONING FOR SUB NAV
@include breakpoint($large) {
    ul.top-level li {
        &:first-child .subnav-list {
            left: 0;
        }
        &:nth-child(2) .subnav-list {
            left: 12.5%;
        }
        &:nth-child(3) .subnav-list {
            left: 25%;
        }
        &:nth-child(4) .subnav-list {
            left: 37.5%;
        }
        &:nth-child(5) .subnav-list {
            left: 50%;
        }
        &:nth-child(6) .subnav-list {
            left: 62.5%;
        }
        &:nth-child(7) .subnav-list, &:nth-child(8) .subnav-list {
            left: 75%;
            width: 25%;
        }
        &:nth-child(8) .subnav-list {
            padding-right: 0.5rem;
            margin-left: 0;
            text-align: right;
        }
    }
}

////// END SUB NAV




////// SEARCH BOX

.global-search-box {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(white, 0.95);
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100 !important;
    @include transition(opacity $hoverSpeed ease-out);

    &.vis {
        visibility: visible;
        opacity: 1;
        //z-index: 200 !important;
        @include transition(opacity $hoverSpeed ease-out);
    }

    &.vis-fade {
        visibility: visible;
        opacity: 0;
        @include transition(opacity $quickSpeed ease-out);
    }

    .form-holder {
        @include container(span(10) + gutter(6));
        clear: both;
        margin-top: $double-gap * 2;
        background-color: transparent;
    } // form holder

    .close-holder {
        @include container(1440px);
    }

    .close-btn {
        margin-right: span(1) + gutter(12);
        @include old-ie { margin-top: 16px; }
        margin-top: $single-gap;
    }

    @include breakpoint($medium) {
        top: 81px;

        .form-holder {
            @include container(span(8) + gutter(6));
        } // form holder
    } // breakpoint medium

    @include breakpoint($large){
        width: 100%;
        //z-index: 100;
        @include old-ie { padding-top: 32px; }
        padding-top: $double-gap;
        top: 84px;

        &.vis {
            display: block;
            @include animation(subnav-large 0.3s ease-out 0s 1 normal forwards);
        }

        &.vis-fade {
            display: block;
            @include animation(subnav-large-fade 0.2s ease-in 0s 1 normal forwards);
            opacity: 1;
        } // vis fade

        .form-holder {
            @include old-ie { margin-top: 64px; }
            @include container(span(5) + gutter(6));
        } // form holder
    } // breakpoint large
}  // global search box

// GLOBAL SEARCH BUTTONS
.search-open {
    display: inline-block;
    @include old-ie { background: url(img/search_icon.gif) top right no-repeat; }

    img, svg {
        width: 18px;
        height: 18px;
    } // img

    svg {
        .search-vector {
            @include transition(all $hoverSpeed ease-out);
            fill: $gray;
        }
    }

    &:hover {
        svg {
            .search-vector {
                fill: $red;
            } // search vector
        } // img
    } // hover
} // search button - search open
// END global search buttons

////// END SEARCH BOX




////// FOOTER

.footer-container {
    @include old-ie { margin-top: 32px; padding: 32px 0; }
    margin-top: $double-gap;
    padding: $double-gap 0;
    background: $gray;
} // footer container

footer {
    a {
        color: $lightergray;

        &:hover {
            color: $gold;
        } // hover
    } // a

    img {
        max-width: 100%;
        max-height: 60px;
    } //img
} //footer

.footer-list {
    @include container($xlarge);
    border-bottom: 1px solid $lightergray;
    @include old-ie { margin-bottom: 32px; }
    margin-bottom: $double-gap;

    &:last-child {
        border: none;
        margin-bottom: 0;
    } // last child
} // footer list

.footer-title {
    @include old-ie { margin-bottom: 3px; }
    margin-bottom: 0.2rem;
    display: block;
    font-size: 1.2rem;

    @include breakpoint($large){
        @include old-ie { font-size: 20px; }
        font-size: 1.5rem;
    } // breakpoint large
} // footer title

li.footer-section, li.footer-section-large {
    line-height: 150%;
} // footer section, footer section large

li.footer-section {
    @include span(10 no-gutters);
    @include old-ie { margin-bottom: 32px; }
    margin-bottom: $double-gap;
    margin-left: span(1) + gutter(12);

    @include breakpoint($small){
        @include span(4);

        &:nth-child(4) {
            @include break;
        } // nth child - 4

        &:last-child {
            @include last;
        } // last child

    } // breakpoint small

    @include breakpoint($medium-ie){
        @include span(2);

        &:nth-child(4) {
           clear: none;
        }
    } // breakpoint medium
} // footer section

.footer-link {
    display: inline-block;
    @include old-ie { margin-right: 8px; }
    margin-right: 0.5rem;

    &:after {
        content: " |";
        @include old-ie { margin-left: 8px; }
        margin-left: 0.5rem;
        color: $lightgray;
    } // after

    &:last-child {
        &:after {
            content: "";
            margin-left: 0;
        } // after
    } // last child

    &.social {
        @include old-ie { margin-top: 8px; }
        margin-top: $single-gap/2;

        path, circle {
            fill: $lightergray;
        }

        a:hover {
            path, circle {
                fill: $gold;
            }
        } // a:hover > svg > path
    } // social

    svg {
        @include old-ie { display: none; }
        height: $single-gap;
        width: $single-gap;

        path {
            transition: all $hoverSpeed ease-out;
        } // path
    } // svg

    @include breakpoint($small-ie) {
        display: block;
        margin-right: 0;

        &:after {
            content: "";
            margin-left: 0;
        } // after
    } // breakpoint small
} // footer link

li.footer-section-medium, li.footer-section-large {
    text-align: center;
} // footer section medium

li.footer-section-large {
    @include old-ie { margin-bottom: 16px; }
    margin-bottom: $single-gap;
    @include span(12);

    p {
        color: $lightergray;
        font-size: $font-reg * 0.8;
        margin: 0 auto;
    } // p
} // footer section large

@include breakpoint($smadium-ie) {

    li.footer-section-medium {
        @include span(6);
        @include last;
        text-align: right;
    } // li footer-section-medium

    li.footer-section-large {
        @include span(6);

        p {
            text-align: left;
        } // p
    } // li footer-section-large
} // breakpoint smadium

////// END FOOTER




////// TICKET TIMER

.timer-outer {
    position: fixed;
    left: 25%;
    width: 50%;
    height: 57px;
    text-align: center;
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);

    &.timer-hidden {
        display: none;
    }

    @include breakpoint($small) {
        width: 70%;
        left: 15%;
        @include align-items(flex-end);
    }

    @include breakpoint($medium-ie) {
        top: 87px;
        left: auto;
        right: span(1) + gutter(12);
        height: auto;
        width: auto;
        display: inline-block;
        text-align: right;
        padding: $single-gap/2;
        //background-color: rgba(255, 255, 255, 0.8);
        color: white;
        background-color: rgba($gray, 0.8);

        a {
            color: $gold;

            &:hover {
                color: $lightergray;
            }
        }
    }

    @include breakpoint($large) {
        right: span(1 wide) + gutter(12);
        top: 130px;
    }

    @include breakpoint($xlarge) {
        right: span(1 wide) + gutter(6) + gutter(12);
    }
}

////// END TICKET TIMER


.main-copy .header-highlight {
  padding: 0.5em .7em 0.4em;
  box-sizing: border-box;
  background-color: #e3e6e1;
  font-size: 17px;
  vertical-align: middle;
  text-transform: uppercase;
}
