#content {
  position: relative;
}
@import "compass/animation/animate";

#mischieflink {
  display: none;
  visibility: hidden;
}

.mischief-widget {
  width: 210px;
  height: 210px;
}

.mischief-widget--inline {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  @include breakpoint($small) {
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
  }
}

.mischief-widget--popup {
  display: none;
  position: absolute;
  bottom:-340px;
}

.mischief-widget.loaded {
  @include animation(bounceInUp 0.6s ease-out 0s 1 normal forwards);
}

.mischief-widget__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #464841;
  border: 4px solid #fff;
  border-radius: 18px;
  top: -10px;
  right: -10px;
  display: block;
  align-items: center;
  justify-content: center;
}

.mischief-widget__close-icon {
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top:5px;
  left:5px;
}

.mischief-widget__close-btn {
  &:hover {
    cursor: pointer;
  }
}

.cssanimations .swingimage {
    -webkit-transform-origin: 0% 0;
    transform-origin: 0% 0;
    -webkit-animation: swinging 5.5s ease-in-out forwards;
    animation: swinging 5.5s ease-in-out forwards;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(0deg);}
    40%{-webkit-transform: rotate(0deg);}
    50%{-webkit-transform: rotate(65deg);}
    62%{-webkit-transform: rotate(45deg);}
    74%{-webkit-transform: rotate(60deg);}
    88%{-webkit-transform: rotate(40deg);}
    98%{-webkit-transform: rotate(49deg);}
    100%{-webkit-transform: rotate(47deg);}
}

// @keyframes swinging{
//     0%{transform: rotate(0deg);}
//     50%{transform: rotate(5deg)}
//     65%{transform: rotate(50deg);}
//     70%{transform: rotate(30deg);}
//     80%{transform: rotate(50deg);}
//     81%{transform: rotate(30deg);}
//     100%{transform: rotate(50deg);}
// }



.mischief-widget-holder {
  border: 5px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 52px 0px rgba(148,6,6,0.8);
  -moz-box-shadow: 0px 0px 52px 0px rgba(148,6,6,0.8);
  box-shadow: 0px 0px 52px 0px rgba(148,6,6,0.8);
}



.mischief-widget__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  p {
    flex: 1 0 30%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
