<div class="audio-gallery hidden">
  <div class="audio-gallery__player">
    <audio class="js-audio-player">
      Your browser does not support the <code>audio</code> element.
    </audio>

    <div class="audio-gallery__controls">
      <div class="audio-gallery__buttons">
        <button class="audio-gallery__prev btn js-prevAudio">
          <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
        <button class="audio-gallery__play btn js-playPauseAudio">
          <svg class="play-button" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
          </svg>
          <svg class="pause-button" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 16h2V8H9v8zm3-14C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V8h-2v8z"/>
          </svg>
        </button>
        <button class="audio-gallery__next btn js-nextAudio" >
          <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </div>
      <div class="audio-gallery__volume-control">
        <div class="volume js-mute-control volume2">


          <div class="audio-down">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5 12c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM5 9v6h4l5 5V4L9 9H5z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>

          <div class="audio-up">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>

          <div class="audio-off">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>


        </div>
        <input class="audio-gallery__volume-bar js-volume-bar" data-attr="rangeVolume" type="range" min="0" max="1" step="0.1" value="0.7" />
      </div>
      <div class="audio-gallery__progress-collection">
        <div class="audio-gallery__progress js-audio-gallery__progress">
          <div class="audio-gallery__progress-track js-update-progress"></div>
        </div>
        <div class="js-countPlaybackElement audio-gallery__time-counter audio-gallery__time-counter--progress"></div>
        <div class="js-countTotalTimeElement audio-gallery__time-counter audio-gallery__time-counter--total"></div>
      </div>
    </div>

      <table class="audio-gallery__playlist js-audio-gallery__playlist">
        <tr class="audio-gallery__playlist-item js-playlist-item" data-src="audio/henry-iv-part-i-audio-synopsis.mp3">
          <td class="audio-gallery__playlist-item__name">Henry IV Synopsis</td><td class="audio-gallery__playlist-item__download"><a class="js-download button-link red-btn" target="_blank" href="#">Download</a></td><td class="audio-gallery__playlist-item__length">2.04</td>
        </tr>
        <tr class="audio-gallery__playlist-item js-playlist-item" data-src="audio/bohannon.mp3">
          <td class="audio-gallery__playlist-item__name">Bohannon</td><td class="audio-gallery__playlist-item__download"><a class="js-download button-link red-btn" target="_blank" href="#">Download</a></td><td class="audio-gallery__playlist-item__length">05.53</td>
        </tr>
        <tr class="audio-gallery__playlist-item js-playlist-item" data-src="audio/henry-iv-part-i-audio-synopsis.mp3">
          <td class="audio-gallery__playlist-item__name">Henry IV Synopsis This is an audio file with a long title</td><td class="audio-gallery__playlist-item__download"><a class="js-download button-link red-btn" target="_blank" href="#">Download</a></td><td class="audio-gallery__playlist-item__length">2.04</td>
        </tr>
        <tr class="audio-gallery__playlist-item js-playlist-item" data-src="audio/bohannon.mp3">
          <td class="audio-gallery__playlist-item__name">Bohannon</td><td class="audio-gallery__playlist-item__download"><a class="js-download button-link red-btn" target="_blank" href="#">Download</a></td><td class="audio-gallery__playlist-item__length">05.53</td>
        </tr>
      </table>
  </div>
</div>
