/* ==========================================================================
   Watch Listen - Audio Gallery
   ========================================================================== */

.audio-gallery {
    @include clearfix();
    color: $gray;
    background-color: #fff;
    margin-bottom: 1em;
}

.audio-gallery {
  padding: 0 1.3rem;

  @include breakpoint($small) {
      padding: 0;
  }

}

.audio-gallery__player {
    padding: 2% 0;

    @include mq(medium) {
        float: left;
        width: 55%;
        padding: 20px 0;
    }
}
.audio-gallery__artwork {
    border: 2px solid #333;
    margin: 2% 0;

    @include mq(medium) {
        float: right;
        width: 36%;
        margin: 2%;
    }
}
.audio-gallery-image{
    margin-bottom: 0;
    position: relative;
}
.audio-gallery__controls{
    @include clearfix();
    margin-bottom: 10px;
}
.audio-gallery__buttons{
    @include clearfix();
    margin-bottom: 0.6em;
    padding: 0.2em;
    border: 1px solid #cacaca;
    display: inline-block;
}
.audio-gallery__buttons .btn{
    overflow: hidden;
    // text-indent: -999999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    float: left;
    &:focus{ outline:none;}
}
.audio-gallery__play{
    width: 40px;
    height: 40px;

    svg {
      width:100%;
      height:auto;
    }

    .pause-button {
      display: none;
    }

}
.audio-gallery__play:hover {
    // opacity: 1;
    svg {
      fill: $gray;
    }
}
.audio-gallery__play.is-playing {

  .play-button {
    display:none;
  }

  .pause-button {
    display:block;
    fill: $red;
  }
}

.audio-gallery__next,
.audio-gallery__prev {
  margin: auto;
  width: 40px;
  height: 40px;
  svg {
    width:100%;
    height:auto;
  }
}

.audio-gallery__next,
.audio-gallery__prev,
.audio-gallery__play {
  svg {
    fill: $gray;
  }
}

.audio-gallery__next:hover,
.audio-gallery__prev:hover,
.audio-gallery__play:hover {
  cursor: pointer;
  svg {
    fill: $red;
  }
}

.audio-gallery__volume-control {
    position: relative;
    margin-top: 9px;
    float: right;
    opacity: 0.6;
}
.audio-gallery__volume-control:hover{
    opacity: 1;
}
.audio-gallery__volume-control{
    .volume {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
        float: left;

        &:hover {
          cursor: pointer;
        }
    }

    .audio-off,
    .audio-down,
    .audio-up {
      fill: $lightgray;
    }

    .volume1 {
      .audio-off {
        display: none;
      }
      .audio-down {
        display: inline-block;
      }
      .audio-up {
        display: none;
      }
    }
    .volume2,
    .volume3 {
      .audio-off {
        display: none;
      }
      .audio-down {
        display: none;
      }
      .audio-up {
        display: inline-block;
      }
    }

    .mute {
        .audio-off {
          display: inline-block;
        }
        .audio-down {
          display: none;
        }
        .audio-up {
          display: none;
        }
    }
}
.audio-gallery__volume-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $lightgray;
    height: 2px;
    display: inline-block;
    vertical-align: baseline;
    &:focus{ outline:none; opacity: 0.8; }
}
.audio-gallery__progress-collection {
  display: block;
  clear:both;
  @include clearfix;
  margin-bottom:10px;
}

.audio-gallery__time-counter {
  font-size: 14px;
}

.audio-gallery__time-counter--progress {
  float: left;
}
.audio-gallery__time-counter--total {
  float: right;
}
.audio-gallery__progress {
    height: 4px;
    background-color: $gray;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-bottom:10px;
}

.audio-gallery__progress-track{
    width: 0%;
    background-color: $red;
    height: 4px;
    position: absolute;
    z-index: 0;
    display: block;
}
.audio-gallery__progress-update{
    width: 0;
    background-color: $red;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}

.audio-gallery__playlist {
    margin: 0 0 20px 0;
    width: 100%;
}
.audio-gallery__playlist-item{
    border-bottom: 0;
    cursor: pointer;
}

.audio-gallery__playlist-item:nth-child(2n+2) {
  background-color: #fafafa;
}

.audio-gallery__playlist-item:first-child {
  border-top: 1px solid $lightergray;
}
.audio-gallery__playlist-item:last-child {
  border-bottom: 1px solid $lightergray;
}
.single .audio-gallery__playlist-item {
  cursor: auto;
}

.audio-gallery__playlist-item__number,
.audio-gallery__playlist-item__name,
.audio-gallery__playlist-item__download,
.audio-gallery__playlist-item__length{
    padding:8px;
}

.audio-gallery__playlist-item__download .button-link {
  font-size: 10px;
}

.audio-gallery__playlist-item__name {
  padding-right: 10px;
  line-height: 1.2;
}
.audio-gallery__playlist-item__download {
  text-align: center;
}
.audio-gallery__playlist-item.is-active td {
    font-weight: bold;
}
td.audio-gallery__playlist-item__length {
    text-align: right;
    font-size: 12px;
}
