.case-book {

  @include breakpoint($small){
    .constrained {
      @include clearfix;
      @include container(1000px);
      padding: 0 gutter(12);
    }
  }

  .header-image {
    @include span(full);
    min-height: 260px;
    @include clearfix;
    margin-bottom: gutter(12);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    @include breakpoint($large){
      background-color: $gray;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      min-height: 633px;
      background-size: 1400px auto;
    }
  }

  .base-header {
    margin-bottom: gutter(12);
  }

  .hero-image .main-image-holder img {
    width: 100%;
    height: auto;
  }

  .video-link {
    font-weight: bold;
    padding-right: 24px;
    display: inline-block;
    background-image: url(img/icon-play-circle.svg);
    background-repeat: no-repeat;
    background-position: 97% 2px;
    background-size: 12%;

    &:hover {
      background-image: url(img/icon-play-circle-grey.svg);
    }
  }

  .header {
    margin-bottom: 20px;
    padding: 0 span(1);
  }
  .title {
    margin-bottom: 20px;
  }
  .intro {
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.4;
  }

  .hero-image {
    margin-bottom: span(1);
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint($large) {
      max-height: 600px;
    }
  }

  .sfContentBlock {
    margin-bottom: gutter(12);
    @include container(100%);
    @include clearfix;
    @include last;
    float: none;
    box-sizing: border-box;
  }

  .content-inner {
    box-sizing: border-box;
  }


  .left-column .content-inner:first-child,
  .right-column .content-inner:last-child,
  .left-column .content-inner:last-child,
  .right-column .content-inner:first-child {
    @include span(full);
    @include clearfix;
  }

  @include breakpoint ($medium) {
    .left-column .content-inner:first-child,
    .right-column .content-inner:last-child {
        @include span(8 of 12);
        padding-left: 0;
        margin-left: 0;
    }

    .right-column .content-inner:last-child {
        @include last;
    }

    .left-column .content-inner:last-child,
    .right-column .content-inner:first-child {
      @include span(4 of 12);
      padding-right: 0;
      margin-left: 0;
    }

    .left-column .content-inner:last-child {
      @include last;
      padding-left: 0;
      margin-right: 0;
    }
  }

  .case-book-video {
    position: relative;
    margin-bottom: 10px;
    display: block;
  }

  .case-book-video:focus {
    outline: 0;
  }
  .case-book-video:focus img {
    border: 1px solid $red;
  }

  .case-book-video__title {
    margin-bottom: 10px;
  }

  .case-book-video__media img {
    vertical-align: bottom;
  }

  .case-book-video .button-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .gallery-launcher {
    max-width: 100%;
    box-sizing: border-box;
    padding: 2em 2em 1em;
    background-color: $gold;

    .gallery-launcher-inner.div-holder {
      padding: 0;
    }
    .sn-bt-mg,
    .button-link {
      margin-bottom:10px;

    }

    .gallery-launcher__container:after {
      background: transparent;
    }
  }

  .right-column .content-inner:first-child .gallery-launcher,
  .left-column .content-inner:last-child .gallery-launcher {
    padding: 1em;
  }

  .breakout-panel {
    display: block;

    @include breakpoint (767px) {
      display: flex
    }
    .case-book-video,
    .breakout-panel__content,
    .case-book-video__media {

      @include breakpoint (767px) {
        flex: 1 0 50%;
      }

      background-color: $gray;
      min-height: 100%;
    }


    .breakout-panel__title {
      margin-bottom: 10px;
    }

    .breakout-panel__text {
      line-height: 1.4;
    }

    .breakout-panel__content {
      box-sizing: border-box;
      padding: 1em;
      color: #fff;
    }

    .case-book-video,
    .case-book-video__media {
      margin-bottom: 0;
      min-height: 1%;
      overflow: hidden;
      img {
        vertical-align: text-bottom;
      }
    }

  }

}

.case-book-popout-panel {
  margin: 0;
  margin-bottom: span(1);
  position: relative;
  border: 1px solid $lightgray;
  overflow: hidden;
  padding-bottom: span(1);

  .case-book-popout-panel__inner {
    box-sizing: border-box;
    padding: span(1);
    padding-bottom: span(2);
    overflow: hidden;
    max-height: 400px;
  }

  .case-book-popout-panel__inner:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 130px;
    z-index: 30;
    background-color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.05+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.05) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.05) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0dffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }


  .case-book-popout-panel__title {
    margin-bottom: 10px;
  }

  .case-book-popout-panel__media {
    max-width: 300px;
    float: left;
    margin-right: span(1);
    margin-bottom: span(1);
  }
  .case-book-popout-panel__content {
    color: $gray;
  }

  .button-link {
    left: auto;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    position: absolute;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.mfp-wrap-case .mfp-content {
  max-width: 57em;
}

.mfp-content .case-book-popout-panel {
  background-color: #ffffff;
  border: none;
}
.mfp-content .case-book-popout-panel .case-book-popout-panel__inner{
  max-height: 100%;
  overflow: visible;
}
.casebooks .mfp-content .case-book-popout-panel .case-book-popout-panel__inner:after,
.mfp-content .case-book-popout-panel__inner button.js-magnific {
  display: none;
}

.popup-title {
  position: absolute;
  top: -16px;
  color: #fff;
  font-size: 1em;
}
