/*
 Donation Widget Base Styles
*/
.donation-cta {
  margin-bottom: $double-gap;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

  .donation-cta__title {
    margin-left: 0;
    padding: 0;
  }

  .donation-cta__quotation {
    display: inline-block;
    padding: 0;
  }

  .button-link {
    width: auto;
    margin: 0 10px 10px 10%;
    float: right;
  }

  .donation-cta__inner{
    background-color: $gray;
    vertical-align: bottom;
    color: #fff;
    @include clearfix;
  }

  .donation-cta__image {
    max-height: 240px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .donation-cta__content {
    position: relative;
    @include clearfix;
    @include breakpoint ($small) {
      padding: 1em;
      font-size: 15px;
    }

    @include breakpoint ($medium) {
      padding: 2em;
      font-size: 16px;
    }
  }

  .donation-cta__content__inner {
    box-sizing: border-box;
    padding: 1em;

    @include breakpoint ($small) {
      padding: 2% 4% 0;
    }

    p {
      max-width: 100%;
      @include breakpoint ($small) {
      }
    }
  }
}


.donation-cta--quote-block {

  .donation-cta__inner {
    background: none;
  }

  .donation-cta__content,
  .donation-cta__content__inner {
    padding: 0;

    p {
      margin: 0;
      padding: 0
    }

    p.donation-cta__quotation {
      margin:0;
      box-sizing: border-box;
      padding: 2em;
      font-size: 20px;
      line-height: 1.4;
    }

    .donation-quote-cta {
      padding: 2em;
      box-sizing: border-box;

      .button-link {
        margin: 10px 0px 0px;
        float: none;
      }

    }

    @include breakpoint ($small) {
      padding: 0;
    }
    @include breakpoint ($smadium) {
      padding: 0;
    }
    @include breakpoint ($medium) {
      padding: 0;
    }
  }

  .donation-cta__content__inner {
    @include clearfix;
    display: block;
    display: -ms-flexbox;    // TWEENER - IE 10
    -ms-flex-align: center;    // TWEENER - IE 10
    -ms-flex-pack: center;    // TWEENER - IE 10
    -ms-flex-direction: column;    // TWEENER - IE 10

    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    @include breakpoint ($medium) {
      -ms-flex-direction: row;    // TWEENER - IE 10
      @include flex-direction(row);
    }
  }

  .donation-cta__quotation {
    display: block;
  }
  .donation-quote-cta {
    display: block;
    width: 100%;
    float: none;
    @include breakpoint ($medium) {
      float: right;
      width: 45%;
    }
  }

  .donation-cta__quotation {
    background-color: transparent;
    position: relative;
    z-index: 20;
  }
  .donation-cta__quote-holder {
    quotes: "\201C""\201D""\2018""\2019";
    background-color: $gray;
    float: none;
    width: 100%;
    z-index: 10;
    position: relative;

    // .donation-cta__quotation {
    //   font-family: $font-primary;
    // }

    @include breakpoint ($medium) {
      float: left;
      width: 55%;
    }
  }

  .donation-cta__quote-holder:before,
  .donation-cta__quote-holder:after {
    font-family: "TimesNewRoman", "Times New Roman", Times, Baskerville, Georgia, serif;    position: relative;
    color: lighten($gray, 5%);
    content: open-quote;
    font-size: 11em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    position: absolute;
    left:15px;
    top: 65px;
    padding: 0;
    margin: 0;
  }
  .donation-cta__quote-holder:after {
    content: close-quote;
    top: auto;
    left: auto;
    bottom: -10px;
    right: 10px;

  }

  .donation-quote-cta {
    color: $gray;
  }
}


.donation-cta--image {

  .donation-cta__inner {
    background-size: cover;
    background-position: 50% 33%;
    background-repeat: no-repeat;

  }
  .donation-cta__content {
    background-color: transparentize(#000, 0.5);
  }

  .donation-cta__image {
    max-height: 100%;
    max-width: 100%;
    display: none;
  }

  @include breakpoint ($medium) {
    .donation-cta__inner {
      background-image: none !important;
    }

    .donation-cta__content {
      background-color: transparent;
    }

    .donation-cta__image {
      float: left;
      max-height: 240px;
      max-width: 240px;
      display: block;
      background-image: initial;
    }
  }
}


.donation-full-image {
  .donation-cta__inner {
    background-size: cover;
    .donation-cta__image {
      position: relative;
      max-height: 100%;
      min-width: 100%;
    }
    .donation-cta__content {
      padding: 1em;
      margin: 3%;
      background-color: transparentize(#000, 0.5);
      .donation-cta__content__inner {
        padding: 0;
      }
    }
  }

}
