/* Galleries Styles */
.gallery-launcher {

    h3.gallery-title {
        @include old-ie { margin-bottom: 16px; }
        margin-bottom: 0.5rem;
    }

    .gallery__item {
        vertical-align: top;
        margin-right: 0.5em;
        margin-bottom: $single-gap;
        display: inline-block;

        img {
            width: auto;
            height: 7em;
        }
    }

    .gallery-image__container {
      margin-bottom: 0.5em;
      height: 140px;
      width: 100px;
      background-size: cover;
      background-position: center center;
    }

    .gallery__item:last-of-type {
      margin-right: 2em;
    }

    .button-link {
        margin-left: 0;
    }


    .gallery__description {
        display: none;
    }

} // gallery launcher

.gallery-launcher .gallery-launcher__container {
  position: relative;
  // Hack to force chrome to use 3d subpixel rendering to avoid 1px gap on fade overlay
  transform: translateZ(0)
}

.gallery-launcher .gallery-launcher__container {
  &:after {
    content:"";
    position: absolute;
    right: -2px;
    /* $gray */
    top: 0;
    width: 40px;
    height: 100%;
    z-index: 10;
    background: -moz-linear-gradient(left, rgba(70,72,65,0.0) 0%, rgba(70,72,65,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(70,72,65,0.10) 0%,rgba(70,72,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(70,72,65,0.0) 0%,rgba(70,72,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a464841', endColorstr='#464841',GradientType=1 ); /* IE6-9 */
  }

}

.js-extrainfo-button .js-content-anchor:before {
  content: 'More Information';
}


/* Cast */

.cast-creative-gallery-widget {

  .js-extrainfo-button .js-content-anchor:before {
    content: 'Full Biography';
  }

  [data-simplebar-direction="horizontal"] .simplebar-scroll-content, .simplebar.horizontal .simplebar-scroll-content {
    overflow-y: hidden;
  }

  .gallery__item {
    max-width: 100px;
  }

  .gallery-cast-profile {
    text-align: center;
    vertical-align: top;
    width: 100px;
    margin: 0 auto;


    p {
      white-space: normal;
    }

    box-sizing: border-box;
    padding: 0.4em 0;

  }

  .gallery-cast-profile__role {
    font-size: 0.8em;
    margin-bottom: 5px;
    font-style: italic;
  }
  .gallery-cast-profile__name {
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 5px;
  }
  .gallery-cast-profile__name:last-of-type {
    margin-bottom: 0;
  }

  a .gallery-cast-profile,
  a:hover .gallery-cast-profile {
    color: #fff;
  }

  .gallery-cast-profile--creative {
    max-width: 160px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0.8em;
  }

  .gallery-cast-profile__description {
    display: none;
  }

  .launch-all {
    display:none;
    visibility: hidden;
  }

  .pswp__container .gallery-cast-profile--creative {
    max-width: 100%;
    width: 100%;

    .gallery-cast-profile-wrapper {
      width: 600px;
      margin: 0 auto;
      color: #fff;

    }
    .gallery-cast-profile__description {
      display: block;
    }
  }

  .cast-gallery {
    [itemprop=embedUrl]:after {
      bottom: auto;
      top: 2em;
    }
  }

  .gallery__item--creative {
    border-right:1px solid #b5b9ae;
    padding: 0 1em;
    margin: 0;
    box-sizing: border-box;
    max-width: 150px;
    min-height: 5em;
  }
}

.extrainfo-button {
  &:focus {
    outline: none;
  }
}

.gallery__extra-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;

  h2 {
      font-size: $font-reg;
      @include old-ie { margin-bottom: 16px; }
      margin-bottom: $single-gap;
  }

  p {
      margin-bottom: $single-gap;
  }

}

.media-gallery {
  .pswp__caption {
    max-height:164px;
  }
}

body.overflow {
  .pswp__caption {
  // overflow: hidden;
    height:164px;
    bottom:0;
    &:after {
      content:"";
      position: absolute;
      width:100%;
      bottom:34px;
      height: 72px;
      background: -moz-linear-gradient(top, rgba(70,72,65,0.0) 0%, rgba(70,72,65,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(70,72,65,0.10) 0%,rgba(70,72,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(70,72,65,0.0) 0%,rgba(70,72,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &.pswp__hide {
      min-height: 0;
      height: 1px;
      bottom:34px;
    }
  }

  .pswp__bottom-bar {
    height:34px;
    opacity: 1;
    background-color: $gray;
  }

  .pswp__preloader {
    display: none;
    visibility: hidden;
  }
}

// Added by Luke (Ammend to thumbnail button to position right. 16.7.17)
.pswp__bottom-bar__inner{
  .tt_holder{
    float:right;
  }
}
