.section-hub, .play-hub {
  .hero-copy .title-bkgrnd {
    margin-bottom: 7%;
  }

  .hp {
    @include span(12 of 12 after);
    max-width: 100% !important;

    .widget-item.sml,
    .widget-item.lrg {
      margin:auto;
      img {
        min-height: 100%;
      }
    }

    @include with-layout(12) {
      .widget-item.sml {
        img {
          min-height: 100%;
        }
        @include span(3 of 12 after);
        &:nth-child(4n) {
          margin-right:0;
        }
      }
      .widget-item.lrg {
        img {
          min-height: 100%;
        }
        @include span(6 of 12 after);
        &:nth-child(2n) {
          margin-right:0;
        }
      }
    }

    @media (max-width: $medium) {
      @include with-layout(12) {
        .widget-item.sml {
          img {
            min-height: 100%;
          }
          @include span(6 of 12 after);
          &:nth-child(2n) {
            margin-right:0;
          }
        }
        .widget-item.lrg {
          img {
            min-height: 100%;
          }
          @include span(12 of 12 after);
          margin-right:0;
        }
      }
    }

    @media (max-width: $smadium) {
      @include with-layout(12) {
        .widget-item.sml {
          img {
            min-height: 100%;
          }
          @include span(12 of 12 after);
          margin-right:0;
        }
      }
    }

  }
}

.section-hub .video-header {
  .hero-copy .title-bkgrnd {
    margin-bottom: 2%;
  }
}
